.flight-booking{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.flight-booking-heading{
    color:dodgerblue;
    font-family: 'Roboto';
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.search-item{
    width:20%;
    height:30px;
    padding:10px;
    color:darkslategrey;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 20px;
    border: 3px solid #87ceeb;
    border-radius: 8px;
    margin-left: 50px;
}

.flights-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    flex-wrap: wrap;
}

.flight{
    width:300px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    border-radius: 12px;
}

.flight-image{
    width:100%;
    height:220px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.flight-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer; 
  }
  
  .flight-link:hover {
   
    opacity: 0.8; 
  }
  